@import url('sidebar.css');
@import url(advisee.css);

.add-report{
  margin: 1em;
}

.add-report a {
  color: white;
  text-decoration: none;
}

a{
  text-decoration: none;
}
.create-report{
  background: #a41d21;
  padding: 1em;
  border: none;
  border-radius: 10px;
  text-align: center;
  color: white;
}
.report-container{
  padding: .5em;
  
}

.edit-button i{
  color: #a41d21;
  font-size:1.2em;
}
.edit-button {
  border: none;
  padding: .5em;
  border-radius: 10px;
  margin-left: .2em;
}
.edit-button a{
  text-decoration: none;
}

.btn.btn-info{
  border: none;
  background:  #e8e8e8;
  color: #a41d21;
  padding: .5em;
  border-radius: 10px;
}
.btn.btn-info i {
  color: #a41d21;
  font-size:1.2em;
}
.edit_submissiont:hover:after {
  content: attr(title);
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
  z-index: 1;
}
.edit_submission{
  text-align: center;
  padding-right: 0!important;
}
.edit i{
  color:#a41d21;
  font-size: 1.8em;
  
}
.edit {
  border: none;
  background: none;
}
.edit-report{
  text-align: center;
}